.input {
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

.input:focus {
  border-color: #3b4cca;
}
