.container {
  padding: 24px;
}

.item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

.header {
  margin-bottom: 12px;
}

.content {
  margin-bottom: 12px;
  line-height: 1.5;
}

.date {
  font-size: 14px;
  color: #666666;
}
